/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-text), "slnt" 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color, #ffffff);
  background-image: var(--bg-image-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--border-color, #000000);
  font-family: var(--font-family-accent), serif;
}

.width-block {
  inline-size: var(--width-size);
}

@media (width <= 375px) {
  .page {
    min-inline-size: 100%;
  }

  .main {
    inline-size: 100%;
  }

  .width-block {
    inline-size: 100%;
  }
}

.logo__heading {
  font-family: inherit;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.logo__text {
  font-family: inherit;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--border-color, #000000);
}

.card__heading {
  padding: 5px 10px;
  font-family: inherit;
  font-size: var(--font-size-main, 18px);
  font-variation-settings: "wght" var(--font-weight-heading), "slnt" 0;
  line-height: var(--line-height-heading, 21.78px);
  border-block-end: 2px solid var(--border-color, #000000);
}

.block__card__img {
  display: grid;
  position: relative;
  overflow: hidden;
  max-block-size: 700px;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.filter__none {
  filter: none;
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__invert {
  filter: invert(100%);
}

.filter__grayscale-blur-invert {
  filter: grayscale(40%) blur(6px) invert(100%);
}

.filter__hue-rotate-saturate {
  filter: hue-rotate(180deg) saturate(60%);
}

.filter__opacity {
  filter: opacity(0.6);
}

.filter__brightness-saturate {
  filter: brightness(250%) saturate(90%);
}

.label {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--font-family-accent, serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  color: #000000;
  -webkit-text-stroke: 1px var(--color-text-shadow, #ffffff);
  mix-blend-mode: hard-light;
  cursor: default;
  z-index: 1;
}

@supports (text-stroke: 1px var(--color-text-shadow, #ffffff)) {
  .label {
    text-shadow:
    1px 1px var(--color-text-shadow, #ffffff),
    -1px -1px var(--color-text-shadow, #ffffff);
  }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: inherit;
  font-size: var(--font-size-main, 18px);
  font-variation-settings: "wght" var(--font-weight-text), "slnt" 0;
  line-height: var(--line-height-text, 21px);
  border-block-start: 2px solid var(--border-color, #000000);
}

.card__content__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.buttons {
  display: flex;
  gap: 4px;
  align-self: end;
}

.card__icon-button {
  inline-size: 42px;
  block-size: 38px;
  padding: 0;
  border: 2px solid transparent;
  background-color: none;
}

.like-icon {
  inline-size: 39px;
  block-size: 34px;

}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
}

.button__text {
  font-family: var(--font-family-accent, serif);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.7875rem;
  mix-blend-mode: difference;
  position: relative;
  color: #ffffff;
}

.save__button {
  margin-block-end: 100px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding: 15px 15px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.floppy__save__svg {
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
  position: relative;
  color: #ffffff;
}

@media (width >= 768px) {
  .floppy__save__svg {
    inline-size: 21px;
    block-size: 21px;
  }
}

.dialog {
  padding: 30px;
  border: 2px solid var(--border-color, #000000);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.dialog[open]::backdrop {
  background-color: #000000;
  opacity: 0.75;
}

.content__dialog {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy__dialog {
  min-width: 39px;
  min-height: 39px;
}

.text__dialog {
  text-transform: uppercase;
  line-height: var(--line-height-text, 21px);
}

.button__dialog {
  inline-size: 100%;
  min-block-size: 38px;
  appearance: none;
  text-transform: uppercase;
}

.button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--border-color, #000000);
  background-color: var(--background-color, #ffffff);
}

.button:focus {
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.card__icon-button {
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color, #000000);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000000);
  transition: border 0.3s ease;
}